.App {
  text-align: center;
  width: 99%;
  height: 680px;
  margin: auto;
}

#weather-app-main-div {
  width: 80%;
  height: 99%;
  margin: auto;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

#navbar {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0 0;
}

#navbar > h1 {
  color: #2f3640;
}

.navbar-search {
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.navbar-search:hover > .navbar-search-txt {
  width: 240px;
  padding: 0 6px;
}

.navbar-search:hover > .navbar-search-btn {
  background: azure;
  color: black;
}

.navbar-search-btn {
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: azure;
  cursor: pointer;
  border: 0px;
}

.navbar-search-btn > i {
  font-size-adjust: 30px;
}

.navbar-search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: azure;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}

#weather-app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 87%;
}

#city-weather-display {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#city-map-div {
  width: 50%;
  height: 250px;
  margin: auto;
}

#city-details-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

#city-details-div > div:nth-child(1) {
  text-align: left;
  width: 50%;
}

#city-details-div > div:nth-child(1) > h1 {
  margin: 0px;
  margin-bottom: 0px;
  font-size: 600%;
  color: #2f3640;
}

#city-details-div > div:nth-child(1) > p {
  margin-top: 0px;
  font-weight: bold;
  color: rgb(21, 42, 28);
}

#city-details-div > div:nth-child(2) {
  width: 30%;
  text-align: left;
  color: rgb(21, 42, 28);
}

#city-details-div > div:nth-child(2) > hr {
  background-color: black;
  color: black;
  width: 70%;
  margin: auto;
}

#graph-week-display {
  width: 40%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#graph-div {
  height: 40%;
  width: 90%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

#week-display-div {
  width: 80%;
  height: 50%;
  margin: auto;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a5a7a9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f3640;
}

.week-max-min-temp-display-div {
  width: 80%;
  margin: auto;
  width: 80%;
  height: 20%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.week-max-min-temp-display-div > h2 {
  color: #2f3640;
}

.week-max-min-temp-display-div > p {
  color: rgb(21, 42, 28);
}

#week-display-div > div > hr {
  width: 60%;
  background-color: aliceblue;
  margin-top: 0px;
  margin-bottom: 0px;
}
