/* App Main div */
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

#desktopView {
  display: block;
}

#mobileView {
  display: none;
}
/* mobile size screen media query */
@media only screen and (min-width: 0px) and (max-width: 618px) {
  #desktopView {
    display: none;
  }

  #mobileView {
    display: block;
  }
}
